{% extends 'base.html' %}
{% block content %}
<div style="margin: 50px left; padding: 30px; box-shadow: 0 4px 6px rgba(0,0,0,0.1);">
    <h3 style="text-align: left; color: var(--cor-secondary); margin-bottom: 20px;">
        Venda
    </h3>

    <h5 style="margin-bottom: 10px;">Adicionar Produto</h5>
    <form class="auth-form" method="post">
        {% csrf_token %}
        {{ item_form.as_p }}
        <button type="submit" name="adicionar_item" class="btn btn-primary">Confirmar Item</button>
    </form>

    {% if carrinho %}
        <h5 style="margin-bottom: 10px;">Itens adicionados</h5>
        <table class="table table-striped" style="width: 100%;">
            <thead>
                <tr>
                    <th>Produtos</th>
                    <th>Quantidade</th>
                    <th>Desconto</th>
                    <th>Preço Unitário</th>
                    <th>Subtotal</th>
                </tr>
            </thead>
            <tbody>
                {% for item in carrinho %}
                <tr>
                    <td>{{ item.produto_nome }}</td>
                    <td>{{ item.quantidade }}</td>
                    <td>R$ {{ item.desconto|floatformat:2 }}</td>
                    <td>R$ {{ item.preco_unitario|floatformat:2 }}</td>
                    <td>R$ {{ item.subtotal|floatformat:2 }}</td>
                </tr>
                {% endfor %}
                <tr style="font-weight: bold;">
                    <td colspan="4" style="text-align: right;">Total</td>
                    <td>R$ {{ total_carrinho|floatformat:2 }}</td>
                </tr>
            </tbody>
        </table>
    {% else %}
        <p style="color: gray;">Nenhum item adicionado ainda.</p>
    {% endif %}

    <hr style="margin: 30px 0;">

    <h5 style="margin-bottom: 10px;">Finalizar Venda</h5>
    <form class="auth-form" method="post">
        {% csrf_token %}
        {{ venda_form.as_p }}
        <div style="text-align: left; margin-top: 20px;">
            <button type="submit" name="finalizar_venda" class="btn btn-success">Cadastrar Venda</button>
            <a href="{% url 'lista_vendas' loja_id %}" class="btn btn-secondary">Voltar à lista</a>
        </div>
    </form>
</div>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<script>
    $(document).ready(function() {
        $('#id_produto').select2({
            placeholder: 'Digite para buscar um produto',
            allowClear: true,
            width: '100%'
        });
            $('#id_cliente').select2({
            placeholder: 'Digite para buscar um cliente',
            allowClear: true,
            width: '100%'
        })
    });
</script>

{% endblock %}
