{% extends 'base.html' %}
{% block content %}
<div style="margin: 50px left; padding: 30px; box-shadow: 0 4px 6px rgba(0,0,0,0.1);">
    <h3 style="text-align: left; color: var(--cor-secondary); margin-bottom: 20px;">
        Venda
    </h3>

    <form class="auth-form" method="post" id="form-venda" style="display: flex; flex-direction: column; align-items: left;">
        {% csrf_token %}
        {{ form.as_p }}
        <div style="text-align: left; margin-top: 20px;">
            <button type="submit" class="btn btn-success">Cadastrar</button>
            <a href="{% url 'lista_vendas' loja_id %}" class="btn btn-secondary">Voltar à lista</a>
        </div>
    </form>
</div>
{% endblock %}
