{% extends 'base.html' %}
{% block content %}
<div style="margin: 50px left; padding: 30px; box-shadow: 0 4px 6px rgba(0,0,0,0.1);">
    <h3 style="text-align: left; color: var(--cor-secondary); margin-bottom: 20px;">
        Despesa
    </h3>

    <form class="auth-form" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success">Cadastrar</button>
        <a href="{% url 'lista_despesas' loja.id %}" class="btn btn-secondary">Voltar à lista</a>
    </form>
</div>
{% endblock %}