{% extends 'base.html' %}
{% block content %}
<div class="card" style="max-width: 500px; margin: 50px auto; padding: 30px; box-shadow: 0 4px 6px rgba(0,0,0,0.01);">
    <h2 style="text-align: center; color: var(--cor-primaria); margin-bottom: 20px;">Deletar Fornecedor</h2>
    <p style="text-align: center; font-size: 1rem;">
        Tem certeza que deseja deletar o fornecedor <strong>{{ fornecedor.nome }}</strong>?
    </p>

    <form method="post" style="text-align: center; margin-top: 25px;">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger" style="margin-right: 10px;">Deletar</button>
    <a href="{% url 'lista_fornecedores' loja_id %}" class="btn btn-success">Cancelar</a>
</form>
</div>

{% endblock %}
