{% extends 'base.html' %}
{% block content %}
<h2>Lista de Vendas</h2>
<a href="{% url 'cadastrar_venda' loja_id %}" class="btn btn-primary">Cadastrar Venda</a>
<a href="{% url 'dashboard_loja' loja_id %}" class="btn btn-secondary btn-sm">Voltar ao Dashboard</a>

<table class="table">
    <thead>
        <tr>
            <th>Produtos</th>
            <th>Descrição</th>
            <th>Quantidade</th>
            <th>Forma de Pagamento</th>
            <th>Cliente</th>
            <th>Preço Unitário</th>
            <th>Desconto</th>
            <th>Valor Total</th>
            <th>Data</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for venda in page_obj %}
        <tr>
            <td>{{ venda.produto.nome }}</td>
            <td>{{ venda.produto.descricao }}</td>
            <td>{{ venda.quantidade }}</td>
            <td>{{ venda.forma_pagamento }}</td>
            <td>{{ venda.cliente }}</td>
            <td>{{ venda.preco_unitario }}</td>
            <td>{{ venda.desconto }}</td>
            <td>{{ venda.valor_total }}</td>
            <td>{{ venda.data|date:"d/m/Y" }}</td>
            <td>
                <a href="{% url 'editar_venda' loja_id venda.id %}" class="btn btn-warning btn-sm">Editar</a>
                <a href="{% url 'deletar_venda' loja_id venda.id %}" class="btn btn-danger btn-sm">Deletar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="pagination">
    {% if page_obj.has_previous %}
        <a href="?page=1">&laquo; Primeira</a>
        <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
    {% endif %}

    <span>Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</span>

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">Próxima</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">Última</a>
    {% endif %}
</div>

{% endblock%}
