{% extends 'base.html' %}
{% block content %}
<h2>Lista de Vendas</h2>
<a href="{% url 'cadastrar_venda' loja_id %}" class="btn btn-primary">Cadastrar Venda</a>
<a href="{% url 'dashboard_loja' loja_id %}" class="btn btn-secondary btn-sm">Voltar ao Dashboard</a>

<div class="table-responsive mt-3">
<table class="table table-striped">
    <thead>
        <tr>
            <th style="text-align: left;">ID</th>
            <th>Cliente</th>
            <th>Data</th>
            <th>Total</th>
            <th>Itens</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for venda in page_obj %}
        <tr>
            <td style="text-align: left;">{{ venda.id }}</td>
            <td>{{ venda.cliente }}</td>
            <td>{{ venda.data|date:"d/m/Y" }}</td>
            <td>R$ {{ venda.valor_total }}</td>
            <td>
                <button class="toggle-itens" data-id="{{ venda.id }}">+</button>
            </td>
            <td>
                <a href="{% url 'editar_venda' loja_id venda.id %}" class="btn btn-warning btn-sm">Editar</a>
                <a href="{% url 'deletar_venda' loja_id venda.id %}" class="btn btn-danger btn-sm">Deletar</a>
            </td>
        </tr>
        <tr class="itens-venda" id="itens-{{ venda.id }}" style="display: none;">
            <td colspan="5">
                <ul>
                    {% for item in venda.itens.all %}
                        <li>{{ item.produto.nome }} - Qtd: {{ item.quantidade }} - R$ {{ item.subtotal }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>

<div class="pagination">
    {% if page_obj.has_previous %}
        <a href="?page=1">&laquo; Primeira</a>
        <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
    {% endif %}

    <span>Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</span>

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">Próxima</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">Última</a>
    {% endif %}
</div>

<script>
  const buttons = document.querySelectorAll('.toggle-itens');
  buttons.forEach(btn => {
    btn.addEventListener('click', () => {
      const id = btn.dataset.id;
      const row = document.getElementById('itens-' + id);
      if (row.style.display === 'none') {
        row.style.display = 'table-row';
        btn.textContent = "-";
      } else {
        row.style.display = 'none';
        btn.textContent = "+";
      }
    });
  });
</script>

{% endblock%}
