{% extends 'base.html' %}
{% block content %}
<h2>Painel de Lojas</h2>

<h3>Minhas Lojas</h3>
<ul>
    {% for loja in lojas %}
    <li>
        {{ loja.nome }}
        <a href="{% url 'dashboard_loja' loja.id %}">Acessar</a>
        <a href="{% url 'editar_loja' loja.id %}">Editar</a>
        <a href="{% url 'deletar_loja' loja.id %}">Deletar</a>
    </li>
    {% empty %}
    <li><em>Nenhuma loja cadastrada ainda.</em></li>
    {% endfor %}
</ul>

<a href="{% url 'cadastrar_loja' %}">Cadastrar Nova Loja</a>
{% endblock %}
