{% extends 'base.html' %}
{% block content %}
<div style="margin: 50px left; padding: 30px; box-shadow: 0 4px 6px rgba(0,0,0,0.1);">
    <h3 style="text-align: left; color: var(--cor-secondary); margin-bottom: 20px;">
        Produto
    </h3>

    <form method="POST" style="display: flex; flex-direction: column; align-items: left;">
        {% csrf_token %}
        {{ form.as_p }}

        <div style="text-align: left; margin-top: 20px;">
            <button type="submit" class="btn btn-success" style="margin-right: 10px;">
                {% if produto %}Atualizar{% else %}Cadastrar{% endif %}
            </button>
            <a href="{% url 'lista_produtos' loja.id %}" class="btn btn-secondary">Voltar à Lista</a>
        </div>
    </form>
</div>
{% endblock %}