{% extends 'base.html' %}
{% block content %}
<h2>Produtos da Loja {{ loja.nome }}</h2>
<a href="{% url 'cadastro_produto' loja.id %}">Cadastrar Produto</a>
<table>
    <tr>
        <th>Nome</th>
        <th>Preço</th>
        <th>Estoque</th>
        <th>Ações</th>
    </tr>
    {% for produto in produtos %}
    <tr>
        <td>{{ produto.nome }}</td>
        <td>{{ produto.preco }}</td>
        <td>{{ produto.estoque }}</td>
        <td>
            <a href="{% url 'editar_produto' loja.id produto.id%}">Editar</a>
            <a href="{% url 'deletar_produto' loja.id produto.id %}">Deletar</a>
        </td>
    </tr>
    {% empty %}
    <tr><td colspan="4">Nenhum produto cadastrado.</td></tr>
    {% endfor %}
</table>
<a href="{% url 'dashboard_loja' loja.id %}">Voltar ao Dashboard</a>
{% endblock %}
